# Copy this file to .env and update values locally.
# Do not commit .env to source control.

SPRING_APPLICATION_NAME=system
SERVER_PORT=8081

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/springdb
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=Poshika@10
